/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url(./pekael.jpg);
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input[type="submit"] {
    background-color: #1f251f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #1f251f;
}

h3 {
    color: #333;
    text-align: center;
}